body{
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: black;
    background-repeat: no-repeat;
    background-size:100%;
    color:aliceblue;
    font-weight: 900;
    margin: 0;
    padding:0;
}
video{
    object-fit: cover;
    width:100%;
    height:100%;
}
.bgvideo{
    padding: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: -1;
}
td,th,table{
    text-align: center;
    border: 1px solid rgb(255, 212, 212);
    border-collapse: collapse;
    width:40%;
    height:40px;
}
th{
    color:bisque;
    background-color: rgb(103, 42, 42);
}
mark{
    background-color: rgb(136, 42, 42);
}
.middle b{
    color: rgb(135, 19, 19);
}
.demo{
    background-image: linear-gradient(to top right,rgb(56, 33, 33),rgb(39, 18, 18),rgb(0, 0, 0));
    position: sticky;
    top:0;
    text-align: center;
    box-sizing: border-box;
    background-color:rgb(190, 51, 51);
    word-spacing: 50px;
    padding: 10px;
    padding-right: 40px;
    font-size: large;
}
.middle h2{
    text-align: center;
    color: rgb(152, 6, 6);
}
.middle img{ 
    text-align: center;
    border-radius: 50px; 
}
img:hover{
    transform: scale(1.3);

}
button{
    width: 200px;
    height:30px;
    color:aliceblue;
    background-color: rgb(189, 47, 47);
} 
iframe{
    border: 10px solid rgb(72, 0, 0);
    margin-left:590px ;
}
.footer{
    text-align: center;
    background-color: rgb(172, 76, 76);
    padding: 20px;
}
@media(max-width:600px){
    body{
        width:100%;
        font-size: small;
    }
    img{
        margin-left: 140px;
    }
    .demo{
        word-spacing: 20px;
        font-size: medium;
    }
    h2{
        text-align: center;
    }
    table{
        width:100%;
    }
}
@media(min-width:600px){
    .demo{
        word-spacing: 50px;
        font-size: large;
    }
    img{
        margin: auto;
    }
    .head{
    font-size:medium;
    }
    table{
        width:80%;
    }
}